<header class="header">
  <div class="header__contacts container">
    <div class="header__contacts-left">
      <address class="header__address">г. Одинцово, ул. Молодёжная 46с1</address>
      <a class="header__mailto" href="mailto:info-consaltingpro@mail.ru">info-consaltingpro@mail.ru</a>
    </div>
    <div class="header__time">По будням, с 10:00 до 20:00</div>
  </div>
  <div class="header__wrap-nav">
    <div class="container header__nav">
      <img loading="lazy" src="../img/logo.svg" class="logo header__logo" width="200" height="54"
        alt="Логотип компании Сonsalting PRO">
      <button class="burger header__burger btn-reset" aria-label="Открыть меню" aria-expanded="false" data-burger
        type="button">
        <span class="burger__line"></span>
      </button>
      <nav class="">
        <ul class="menu list-reset">
          <li class="menu__item"><a href="" class="menu__link">О компании</a></li>
          <li class="menu__item menu__background"><a href=""
              class="menu__link menu__dropdown-arrow-main-menu">Услуги</a>
            <div class="menu__wrap-dropdown" data-simplebar>
              <ul class="menu__dropdown container list-reset">
                <li class="menu__dropdown-item"><a href="" class="menu__dropdown-link">БУХГАЛТЕРСКИЕ УСЛУГИ</a></li>
                <li class="menu__dropdown-item"><a href="" class="menu__dropdown-link">КОНСАЛТИНГОВЫЕ УСЛУГИ</a></li>
                <li class="menu__dropdown-item"><a href="" class="menu__dropdown-link">ЮРИДИЧЕСКОЕ СОПРОВОЖДЕНИЕ</a>
                </li>
                <li class="menu__dropdown-item"><a href="" class="menu__dropdown-link">НАЛОГОВЫЙ КОНСАЛТИНГ</a>
                  <div class="menu__wrap-list">
                    <ul class="menu__list list-reset">
                      <li class="menu__list-item"><a href="" class="menu__list-link menu__dropdown-arrow">Услуги
                          налогового планирования</a>
                        <div class="menu__wrap-small-list">
                          <ul class="menu__small-list list-reset">
                            <li class="menu__small-list-item"><a href="" class="menu__small-list-link">Консультации по
                                НДС</a></li>
                            <li class="menu__small-list-item"><a href="" class="menu__small-list-link">Консультации
                                УСН</a></li>
                            <li class="menu__small-list-item"><a href="" class="menu__small-list-link">Консультации по
                                налогу на
                                имущество</a></li>
                          </ul>
                        </div>
                      </li>
                      <li class="menu__list-item"><a href="" class="menu__list-link">Жалоба в налоговую</a></li>
                      <li class="menu__list-item"><a href="" class="menu__list-link">Ответ на требование налогового
                          органа <span class="menu__item-top">top</span></a></li>
                      <li class="menu__list-item"><a href="" class="menu__list-link">Пакет безопасности сделок</a>
                      </li>
                      <li class="menu__list-item"><a href="" class="menu__list-link">Услуги налогового
                          планирования</a>
                      </li>
                      <li class="menu__list-item"><a href="" class="menu__list-link">Оптимизация видов налогов</a>
                      </li>
                      <li class="menu__list-item"><a href="" class="menu__list-link">Ответ на требование налогового
                          органа</a></li>
                      <li class="menu__list-item"><a href="" class="menu__list-link">Пакет безопасности сделок</a>
                      </li>
                      <li class="menu__list-item"><a href="" class="menu__list-link menu__dropdown-arrow">Консультация
                          по налогам</a>
                        <span class="menu__item-top">top</span>
                        <div class="menu__wrap-small-list">
                          <ul class="menu__small-list list-reset">
                            <li class="menu__small-list-item"><a href="" class="menu__small-list-link">Консультации по
                                НДС</a></li>
                            <li class="menu__small-list-item"><a href="" class="menu__small-list-link">Консультации
                                УСН</a></li>
                            <li class="menu__small-list-item"><a href="" class="menu__small-list-link">Консультации по
                                налогу на
                                имущество</a></li>
                          </ul>
                        </div>
                      </li>
                      <li class="menu__list-item"><a href="" class="menu__list-link menu__dropdown-arrow">Возражения
                          на
                          акт налоговой</a>
                        <span class="menu__item-top">top</span>
                        <div class="menu__wrap-small-list">
                          <ul class="menu__small-list list-reset">
                            <li class="menu__small-list-item"><a href="" class="menu__small-list-link">Консультации по
                                НДС</a></li>
                            <li class="menu__small-list-item"><a href="" class="menu__small-list-link">Консультации
                                УСН</a></li>
                            <li class="menu__small-list-item"><a href="" class="menu__small-list-link">Консультации по
                                налогу на
                                имущество</a></li>
                          </ul>
                        </div>
                      </li>
                      <li class="menu__list-item"><a href="" class="menu__list-link">Возражения на акт налоговой</a>
                      </li>
                      <li class="menu__list-item"><a href="" class="menu__list-link">Пакет должной осмотрительности
                          <span class="menu__item-new">new</span></a></li>
                      <li class="menu__list-item"><a href="" class="menu__list-link">Международное налоговое
                          планирование</a></li>
                      <li class="menu__list-item"><a href="" class="menu__list-link">Оптимизация для юрлиц</a></li>
                      <li class="menu__list-item"><a href="" class="menu__list-link">Пакет должной
                          осмотрительности</a>
                      </li>
                    </ul>
                    <div class="menu__promo">

                    </div>
                  </div>

                </li>
                <li class="menu__dropdown-item"><a href="" class="menu__dropdown-link">рассчетный счет без визита в
                    банк</a></li>
                <li class="menu__dropdown-item"><a href="" class="menu__dropdown-link">предоставление услуг по аренде
                    юридического адреса</a></li>
                <li class="menu__dropdown-item"><a href="" class="menu__dropdown-link">банкротство</a></li>
                <li class="menu__dropdown-item"><a href="" class="menu__dropdown-link">аудиторские услуги</a></li>
                <li class="menu__dropdown-item"><a href="" class="menu__dropdown-link">регистрация компании и
                    организаций</a>
                  <div class="menu__wrap-list">
                    <div class="menu__list-three-columns">
                      <h3 class="menu__list-title">Регистрация фирм</h3>
                      <ul class="menu__list menu__list--one-column list-reset">
                        <li class="menu__list-item"><a href="" class="menu__list-link">Услуги налогового
                            планирования</a></li>
                        <li class="menu__list-item"><a href="" class="menu__list-link">Жалоба в налоговую</a></li>
                        <li class="menu__list-item"><a href="" class="menu__list-link">Ответ на требование налогового
                            органа</a></li>
                        <li class="menu__list-item"><a href="" class="menu__list-link">Пакет безопасности сделок</a>
                        </li>
                        <li class="menu__list-item"><a href="" class="menu__list-link">Услуги налогового
                            планирования</a></li>
                        <li class="menu__list-item"><a href="" class="menu__list-link">Жалоба в налоговую</a></li>
                        <li class="menu__list-item"><a href="" class="menu__list-link">Ответ на требование налогового
                            органа</a></li>
                        <li class="menu__list-item"><a href="" class="menu__list-link">Пакет безопасности сделок</a>
                        </li>
                        <li class="menu__list-item"><a href="" class="menu__list-link">Сопровождение по налоговым
                            спорам<span class="menu__item-top">top</span></a></li>
                        <li class="menu__list-item"><a href="" class="menu__list-link">Ответ на требование налогового
                            органа</a></li>
                        <li class="menu__list-item"><a href="" class="menu__list-link">Пакет безопасности сделок</a>
                        </li>
                        <li class="menu__list-item"><a href="" class="menu__list-link">Услуги налогового
                            планирования</a></li>
                        <li class="menu__list-item"><a href="" class="menu__list-link">Регистрация некоммерческого</a>
                        </li>
                      </ul>
                    </div>
                    <div class="menu__list-three-columns">
                      <h3 class="menu__list-title">Регистрация изменений</h3>
                      <ul class="menu__list menu__list--one-column list-reset">
                        <li class="menu__list-item"><a href="" class="menu__list-link">Услуги оптимизации налогов</a>
                        </li>
                        <li class="menu__list-item"><a href="" class="menu__list-link">Возражения на акт налоговой</a>
                        </li>
                        <li class="menu__list-item"><a href="" class="menu__list-link">Пакет должной
                            осмотрительности</a></li>
                        <li class="menu__list-item"><a href="" class="menu__list-link">Международное налоговое
                            планирование</a></li>
                        <li class="menu__list-item"><a href="" class="menu__list-link">Услуги оптимизации налогов</a>
                        </li>
                        <li class="menu__list-item"><a href="" class="menu__list-link">Возражения на акт налоговой<span
                              class="menu__item-top">top</span></a></li>
                        <li class="menu__list-item"><a href="" class="menu__list-link">Пакет должной
                            осмотрительности</a></li>
                        <li class="menu__list-item"><a href="" class="menu__list-link">Международное налоговое
                            планирование</a></li>
                        <li class="menu__list-item"><a href="" class="menu__list-link">Пакет должной
                            осмотрительности</a></li>
                        <li class="menu__list-item"><a href="" class="menu__list-link">Международное налоговое
                            планирование</a></li>
                        <li class="menu__list-item"><a href="" class="menu__list-link">Услуги оптимизации налогов</a>
                        </li>
                        <li class="menu__list-item"><a href="" class="menu__list-link">Регистрация автономных
                            некоммерческих организаций</a></li>
                      </ul>
                    </div>
                    <div class="menu__list-three-columns">
                      <h3 class="menu__list-title">Регистрация некоммерческих организаций</h3>
                      <ul class="menu__list menu__list--one-column list-reset">
                        <li class="menu__list-item"><a href="" class="menu__list-link">Услуги оптимизации налогов</a>
                        </li>
                        <li class="menu__list-item"><a href="" class="menu__list-link">Возражения на акт налоговой</a>
                        </li>
                        <li class="menu__list-item"><a href="" class="menu__list-link">Пакет должной
                            осмотрительности</a></li>
                        <li class="menu__list-item"><a href="" class="menu__list-link">Международное налоговое
                            планирование</a></li>
                        <li class="menu__list-item"><a href="" class="menu__list-link">Пакет должной
                            осмотрительности</a></li>
                        <li class="menu__list-item"><a href="" class="menu__list-link">Международное налоговое
                            планирование</a></li>
                        <li class="menu__list-item"><a href="" class="menu__list-link">Услуги оптимизации налогов<span
                              class="menu__item-top">top</span></a></li>
                        <li class="menu__list-item"><a href="" class="menu__list-link">Регистрация автономных
                            некоммерческих организаций</a></li>
                        <li class="menu__list-item"><a href="" class="menu__list-link">Жалоба в налоговую</a></li>
                      </ul>
                    </div>
                  </div>


                </li>
                <li class="menu__dropdown-item"><a href="" class="menu__dropdown-link">ликвидация юридических лиц</a>
                </li>
                <li class="menu__dropdown-item"><a href="" class="menu__dropdown-link">рассчетный счет без визита в
                    банк</a></li>
                <li class="menu__dropdown-item"><a href="" class="menu__dropdown-link">предоставление услуг по аренде
                    юридического адреса</a></li>
                <li class="menu__dropdown-item"><a href="" class="menu__dropdown-link">банкротство</a></li>
                <li class="menu__dropdown-item"><a href="" class="menu__dropdown-link">аудиторские услуги</a></li>
                <li class="menu__dropdown-item"><a href="" class="menu__dropdown-link">регистрация компании и
                    организаций</a></li>
                <li class="menu__dropdown-item"><a href="" class="menu__dropdown-link">ликвидация юридических лиц</a>
                </li>
                <li class="menu__dropdown-item"><a href="" class="menu__dropdown-link">другие услуги</a></li>
              </ul>

              <!-- </div> -->
            </div>
          </li>
          <li class="menu__item"><a href="" class="menu__link">Кейсы</a></li>
          <li class="menu__item"><a href="" class="menu__link">Стоимость</a></li>
          <li class="menu__item"><a href="" class="menu__link">Отзывы</a></li>
          <li class="menu__item"><a href="" class="menu__link">Калькулятор</a></li>
          <li class="menu__item"><a href="" class="menu__link">Контакты</a></li>
        </ul>
      </nav>
      <div class="contacts-bottom">
        <a href="tg://resolve?domain=username">
          <svg class="contacts-bottom__telegram">
            <use xlink:href="img/sprite.svg#telegram"></use>
          </svg>
        </a>
        <a href="whatsapp://send?phone=+84993910009">
          <svg class="contacts-bottom__whatsapp">
            <use xlink:href="img/sprite.svg#whatsapp"></use>
          </svg>
        </a>
        <div class="contacts-bottom__wrap-phone">
          <a class="contacts-bottom__phone" href="tel:+84993910009">8 499-391-00-09</a>
          <button class="btn-reset contacts-bottom__btn-call" type="button">Обратный звонок</button>
        </div>
      </div>
    </div>
  </div>
</header>
